.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24; /* optical size */
  font-size: 36px;
  transition: all 0.3s ease;
}

.iconsdiv .fa-heart {
  color: #f10000;
}
.iconsdiv .stats {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 24;
  font-size: 27px;
}
.iconsdiv .bookmark {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 40;
  font-size: 37px;
  margin-top: 4px;
}
.iconsdiv .share {
  font-variation-settings: "FILL" 0, "wght" 500, "GRAD" 0, "opsz" 20;
  font-size: 37px;
  margin-top: -1px;
}

@keyframes blurbify_animation {
  0% {
    border-color: red;
    background-color: #fff;
  }
  50% {
    border-color: blue;
    background-color: #eee;
  }
  100% {
    border-color: red;
    background-color: #fff;
  }
}
body {
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  gap: 10px;
  background-color: #f9c1b6;
}
body .sitecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  border: 3px solid black;
}
body .sitecontainer .buttons {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 3px solid black;
  height: 200px;
  margin-bottom: 100px;
}
body .sitecontainer .buttons button {
  height: 100px;
  width: 200px;
  background-color: rgb(74, 74, 193);
  color: white;
  border-radius: 20px;
}
body .sitecontainer .buttons button:hover {
  cursor: pointer;
  background-color: rgb(41, 41, 91);
}
body .sitecontainer .blurbifydiv {
  height: auto;
  padding: 30px;
  padding-bottom: 10px;
  border: 10px solid #d51b1b;
  border-radius: 30px;
  width: 900px;
  background-color: white;
}
body .sitecontainer .blurbifydiv div#pfp_and_username {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  align-items: flex-start;
  border: 3px solid transparent;
  justify-content: flex-start;
  padding-right: 20px;
  height: 100px;
  gap: 1px;
}
body .sitecontainer .blurbifydiv div#pfp_and_username .pfpdiv {
  width: 100px;
  aspect-ratio: 1/1;
  border: 0px solid black;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body .sitecontainer .blurbifydiv div#pfp_and_username .pfpdiv img {
  width: 135%; /* scale image to parent width */
  aspect-ratio: 1/1;
}
body .sitecontainer .blurbifydiv div#pfp_and_username .usernamediv {
  height: 100%;
  width: 400px;
  border: 4px solid transparent;
  border-radius: 26px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}
body .sitecontainer .blurbifydiv div#pfp_and_username .usernamediv div.align_them_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  justify-content: flex-start;
  align-items: flex-end;
  border: 4px solid transparent;
  border-radius: 26px;
  width: 100%;
  height: 40%;
  padding: 0 11px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body .sitecontainer .blurbifydiv div#pfp_and_username .usernamediv div.align_them_div #name {
  font-weight: bold;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  gap: 3px;
}
body .sitecontainer .blurbifydiv div#pfp_and_username .usernamediv div.align_them_div #name img#verified {
  width: 21px;
  aspect-ratio: 1/1;
}
body .sitecontainer .blurbifydiv div#pfp_and_username .usernamediv div.align_them_div #username {
  color: grey;
  font-size: 20px;
  margin-bottom: 2px;
}
body .sitecontainer .blurbifydiv div.textcontent {
  padding: 30px;
  padding-left: 128px;
  margin-top: -67px;
  font-size: 20px;
  padding-bottom: 0px;
  padding-top: 10px;
}
body .sitecontainer .blurbifydiv section#imagesection {
  padding: 10px;
  margin-left: 105px;
  border: 4px solid transparent;
  border-radius: 26px;
  width: 80%;
  height: auto;
}
body .sitecontainer .blurbifydiv section#imagesection img#tweetimage {
  width: 100%;
  height: auto;
  border-radius: 25px;
}
body .sitecontainer .blurbifydiv section#imagesection video#tweetvid {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
body .sitecontainer .blurbifydiv div.iconsdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 4px solid transparent;
  border-radius: 26px;
  justify-content: space-between;
  margin-top: 15px;
  height: 50px;
  margin-left: 120px;
}
body .sitecontainer .blurbifydiv div.iconsdiv i {
  font-size: 25px;
}
body .sitecontainer .blurbifydiv div.iconsdiv .statsarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  gap: 5px;
}
body .sitecontainer .blurbifydiv div.iconsdiv .statsarea #count {
  font-size: 15px;
  margin-top: 5px;
}
body .sitecontainer .blurbifydiv div.iconsdiv .righticons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  gap: 3px;
  margin-right: 30px;
}

@page {
  size: A4;
  margin: 0;
}/*# sourceMappingURL=main.css.map */