@keyframes blurbify_animation {
  0% {
    border-color: red;
    background-color: #fff;
  }

  50% {
    border-color: blue;
    background-color: #eee;
  }
  100% {
    border-color: red;
    background-color: #fff;
  }
}

@keyframes background_animations {
  0% {
    background-color: rgba(24, 142, 24, 1);
  }

  50% {
    background-color: #0e94e8ff;
  }
  90% {
    background-color: rgb(227, 77, 18);
  }
  100% {
    background-color: rgba(24, 142, 24, 1);
  }
}

@keyframes flyingobject {
  0% {
    transform: translateX(-900px);
  }

  100% {
    transform: translateX(1200px);
  }
}

// now define all the actual classes

.blurbify_class {
  animation: blurbify_animation 5s normal infinite;
}

.background_class {
  animation: background_animations 5s normal infinite;
}
.flying_class {
  display: block;
  animation: flyingobject 4s normal infinite;
}
